<h3 class="title"><%= @user.email %></h3>
<span class="subtitle">
    Role:     
    <% if @user.role_id === 1 %>
        Admin
    <% elsif @user.role_id === 2 %>
        Broker
    <% else %>
        Buyer
    <% end %>
</span>

<br /><br />

<% @client = IEX::Api::Client.new(
    publishable_token: 'pk_3fac9a23e6694fdcb684099ec25cf67b',
    secret_token: 'sk_9d27a9ab69c64168ad4fad54cf700ecb',
    endpoint: 'https://cloud.iexapis.com/v1'
)%>

<table class="table">
    <thead>
        <th>Symbol</th>
        <th>Company</th>
        <th>Latest Price</th>
        <th>Qty</th>
        <% if user_signed_in? && current_user.role_id === 2 %>
            <% if current_user.status_approved? && current_user === @user %>
                <th>broker options</th>
            <% end %>
        <% end %>
        <% if user_signed_in? && current_user.role_id === 3 %>
            <% if current_user.status_approved? %>
                <th>buyer options</th>
            <% end %>
        <% end %>
    </thead>
    <tbody>
        <h1 class="title">Stocks for Sale</h1>


        <% @user_stocks = UserStock.where(user_id: @user.id) %>

        <%# @stocks.each do |stock| %>
        <% @user_stocks.each do |user_stock| %>
            <% stock = Stock.find_by(id: user_stock.stock_id) %>
            <% quote = @client.quote(stock.symbol) %>
            <tr>
                <td> <%= "#{stock.symbol}" %> </td>
                <td> <%= "#{quote.company_name}" %> </td>
                <td> <%= "#{quote.latest_price}" %> </td>
                <td> <%= "#{user_stock.quantity}" %> </td>
                <% if user_signed_in? && current_user.role_id === 2 && current_user.status_approved? && current_user === @user  %>
                    <td>
                        <%= link_to "remove", user_stock_path(:id => user_stock.id, :user_id => @user.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                <% end %>
                <% if user_signed_in? && current_user.role_id === 3 %>
                    <td>
                        
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
<table>

